# **PANDAS**

## Import

In [ ]:
import pandas as pd
import numpy as np

## Series

In [ ]:
# help(pd.Series)

In [ ]:
data = [1923,1868,1922]

In [ ]:
index = ["Türkiye","Japonya","SSCB"]

In [ ]:
seri = pd.Series(data=data)
seri

0    1923
1    1868
2    1922
dtype: int64

In [ ]:
pd.Series(data=data, index=index)

Türkiye    1923
Japonya    1868
SSCB       1922
dtype: int64

In [ ]:
countries = pd.Series(data,index)
countries

Türkiye    1923
Japonya    1868
SSCB       1922
dtype: int64

Aynı sistemi dictionary veri yapısı yardımı ile de kurabilirsiniz

In [ ]:
countries = {
    "Türkiye": 1923,
    "Japonya": 1868,
    "SSCB" : 1922
}

In [ ]:
countries

{'Türkiye': 1923, 'Japonya': 1868, 'SSCB': 1922}

In [ ]:
type(countries)

dict

In [ ]:
pd.Series(countries)

Türkiye    1923
Japonya    1868
SSCB       1922
dtype: int64

In [ ]:
countries = pd.Series(countries)
countries

Türkiye    1923
Japonya    1868
SSCB       1922
dtype: int64

In [ ]:
type(countries)

pandas.core.series.Series

In [ ]:
countries["Japonya"]

1868

In [ ]:
countries[2]

1922

Hatalara göz atalım

In [ ]:
# countries["Almanya"]

# countries["Sscb"]

# countries["Turkiye"]

# countries["Türkiye "]

In [ ]:
countries + 100

Türkiye    2023
Japonya    1968
SSCB       2022
dtype: int64

In [ ]:
countries - 1000

Türkiye    923
Japonya    868
SSCB       922
dtype: int64

In [ ]:
countries * 2

Türkiye    3846
Japonya    3736
SSCB       3844
dtype: int64

In [ ]:
countries / 2

Türkiye    961.5
Japonya    934.0
SSCB       961.0
dtype: float64

In [ ]:
countries.keys()

Index(['Türkiye', 'Japonya', 'SSCB'], dtype='object')

In [ ]:
countries

Türkiye    1923
Japonya    1868
SSCB       1922
dtype: int64

In [ ]:
c_2 = {
    "Türkiye" : 100,
    "Almanya" : 1871,
    "Japonya" : -2528,
    "USA" : 1776
}

In [ ]:
countries_2 = pd.Series(c_2)

In [ ]:
countries_2

Türkiye     100
Almanya    1871
Japonya   -2528
USA        1776
dtype: int64

In [ ]:
countries_2 + countries

Almanya       NaN
Japonya    -660.0
SSCB          NaN
Türkiye    2023.0
USA           NaN
dtype: float64

In [ ]:
countries.add(countries_2)
# int veriler float olarak değişti.

Almanya       NaN
Japonya    -660.0
SSCB          NaN
Türkiye    2023.0
USA           NaN
dtype: float64

In [ ]:
countries.add(countries_2, fill_value=0)

Almanya    1871.0
Japonya    -660.0
SSCB       1922.0
Türkiye    2023.0
USA        1776.0
dtype: float64

---
---

### pd.DataFrame()

In [ ]:
# help(pd.DataFrame)

In [ ]:
np.random.seed(9)
data = np.random.randint(0,50,(5,4))

data

array([[28, 22,  1, 22],
       [40, 49, 27, 33],
       [29, 28,  0, 46],
       [24, 10, 29, 42],
       [12, 18, 22,  1]])

In [ ]:
akdeniz = ["Isparta","Antalya","Konya","Maraş","Adana"]
# PS: il sınırları ile bölge sınırları aynı değildir.
# Konya'nın Beyşehir, Seydişehir, Bozkır, Taşkent, Hadim, Derebucak, Yalıhüyük ve Ahırlı ilçeleri
# Kahramanmaraş (Afşin ve Elbistan ilçeleri hariç. Bu ilçeler Doğu Anadolu’dadır.)
# Karaman'ın merkez ilçe ve Ayrancı ilçelerinin bazı bölümleri Ermenek, Sarıveliler, Başyayla
# Afyonkarahisar’ın Başmakçı, Dinar ve Dazkırı ilçeleri
# Denizli'nin Acıpayam, Çameli, Bozkurt ve Beyağaç ilçeleri
# Gaziantep'in İslahiye ve Nurdağı ilçeleri
# Niğde'nin Çamardı ve Ulukışla ilçeleri

# Ve kral BİLECİK, Marmara, Ege, Karadeniz ve İç Anadoludadır.

In [ ]:
mevsim = ["Bahar","Yaz","Kış","Güz"]

In [ ]:
df = pd.DataFrame(data=data)
df

    0   1   2   3
0  28  22   1  22
1  40  49  27  33
2  29  28   0  46
3  24  10  29  42
4  12  18  22   1

In [ ]:
df = pd.DataFrame(data=data, index=akdeniz, columns=mevsim)
df

         Bahar  Yaz  Kış  Güz
Isparta     28   22    1   22
Antalya     40   49   27   33
Konya       29   28    0   46
Maraş       24   10   29   42
Adana       12   18   22    1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Isparta to Adana
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bahar   5 non-null      int32
 1   Yaz     5 non-null      int32
 2   Kış     5 non-null      int32
 3   Güz     5 non-null      int32
dtypes: int32(4)
memory usage: 120.0+ bytes

In [ ]:
df.describe()

           Bahar       Yaz        Kış        Güz
count   5.000000   5.00000   5.000000   5.000000
mean   26.600000  25.40000  15.800000  28.800000
std    10.089599  14.72413  14.202113  18.074844
min    12.000000  10.00000   0.000000   1.000000
25%    24.000000  18.00000   1.000000  22.000000
50%    28.000000  22.00000  22.000000  33.000000
75%    29.000000  28.00000  27.000000  42.000000
max    40.000000  49.00000  29.000000  46.000000

___
___

# "https://youtu.be/f-pMylyHibU?t=9"